<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../../css/my-style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap"
	rel="stylesheet">
<title>chef dettagli</title>
</head>
<body>
	<section class="header-chef">
		<nav>
			<img src="../../images/logo-catering1.png">
			<div class="nav-links">
				<ul>
					<li><a href="/default">HOME</a></li>
				</ul>
			</div>
		</nav>
		<div class="dettaglio-list">
			<h4>Dettagli chef</h4>
			<div>
				<div th:text="${chef.nome} + ' ' + ${chef.cognome} + ' ' + ${chef.nazionalita}"></div>
				Buffet:<div th:each="buffet : ${chef.buffet}">
				<a th:text="${buffet.nome}"></a>
				</div>
			</div>
		</div>
	</section>
	<footer> Catering ML S.A.S. | Via Appia Antica 12, Roma (RM) | 0612345678 | Created by: Marialaura Lazzaro </footer>
</body>
</html>