<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="css/my-style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap"
	rel="stylesheet">
<title>Chefs</title>
</head>
<body>
	<section class="header-chef">
		<nav>
			<img src="images/logo-catering1.png">
			<div class="nav-links">
				<ul>
					<li><a href="/">HOME</a></li>
				</ul>
			</div>
		</nav>
		<div class="text-box">
			<h4>Elenco chef:</h4>
			<ul>
				<li th:each="chef : ${chefs}">
				<a href="chef.html"
					th:href="@{'/chef' + '/' + ${chef.id}}"
					th:text="${chef.nome} + ' ' + ${chef.cognome} + ' ' + ${chef.nazionalita}">Paolo Rossi Italiana</a></li>
			</ul>
		</div>
	</section>
	<footer> Catering ML S.A.S. | Via Appia Antica 12, Roma (RM) | 0612345678 | Created by: Marialaura Lazzaro </footer>
</body>
</html>