<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../css/my-style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap"
	rel="stylesheet">
<title>Modifica Chef</title>
</head>
<body>
	<section class="header-chef">
		<nav>
			<img src="../images/logo-catering1.png">
			<div class="nav-links">
				<ul>
					<li><a href="/">HOME</a></li>
				</ul>
			</div>
		</nav>
		<div class="text-box">
			<h1>Modifica chef:</h1>	
			<form th:action="@{'/toEditChef' + '/' + ${chef.id}}" method="post" th:object="${chef}">
				<div th:if="${#fields.hasGlobalErrors()}">
					<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">errore globale</p>
				</div>
				<div>
					nome: <input type="text" th:field="*{nome}" />
					<div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
				</div>
				<div>
					cognome: <input type="text" th:field="*{cognome}" />
					<div th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></div>
				</div>
				<div>
					nazionalita: <input type="text" th:field="*{nazionalita}" />
					<div th:if="${#fields.hasErrors('nazionalita')}" th:errors="*{nazionalita}"></div>
				</div>
				<div>
					<button type="submit" />
					Conferma
					</button>
				</div>
			</form>
		</div>
	</section>
	<footer> footer da cambiare </footer>
</body>
</html>