<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../css/my-style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap"
	rel="stylesheet">
<title>buffet dettagli</title>
</head>
<body>
	<section class="header-buffet">
		<nav>
			<img src="../images/logo-catering1.png">
			<div class="nav-links">
				<ul>
					<li><a href="/">HOME</a></li>
				</ul>
			</div>
		</nav>
		<div class="dettaglio-list">
			<h4>Dettagli buffet</h4>
			<div>
				<span th:text="${buffet.nome}"></span> 
				<span th:text="${buffet.descrizione}"></span>
				Chef:<div th:text="${buffet.chef.nome} + ' ' + ${buffet.chef.cognome}"></div>
				Piatti:<div th:each="piatto : ${buffet.piatti}">
				<a th:text="${piatto.nome}"></a>
				</div>
			</div>
		</div>
	</section>
	<footer> footer da cambiare </footer>
</body>
</html>