<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/my-style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap" rel="stylesheet">
	<title>Home</title>
</head>
<body>
	<section class="header">
		<nav>
			<img src="images/logo-catering1.png">
			<div class="nav-links">
				<ul>
					<li><a href="/">HOME</a></li>
					<li><a th:href="@{/chefs}">CHEFS</a></li>
				</ul>
			</div>
		</nav>
		<div class="text-box">
			<h1>CateringML!!</h1>
			<p>blablablablblablablb</p>
		</div>
	</section>
	<footer>
		footer da cambiare
	</footer>
</body>
</html>