<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="css/my-style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap"
	rel="stylesheet">
<title>Home</title>
</head>
<body>
	<section class="header">
		<nav>
			<img src="images/logo-catering1.png">
			<div class="nav-links">
				<ul>
					<li><a href="/">HOME</a></li>
					<li><a th:href="@{/chefUtente}">CHEFS</a></li>
					<li><a th:href="@{/buffetUtente}">BUFFETS</a></li>
					<li><a th:href="@{/ingredienteUtente}">INGREDIENTI</a></li>
					<li><a th:href="@{/piattoUtente}">PIATTI</a></li>
					<li><a th:href="@{/login}">LOGIN</a></li>
				</ul>
			</div>
		</nav>
		<div class="text-box">
			<h1>CateringML!!</h1>
		</div>
	</section>
	<section class="about-us">
	<div class="text-box">
		<img src="/images/buffet.jpg" width="40%">
		<h1>Su di noi:</h1>
		<p>Offriamo servizi ricercati nel settore del catering, dalla preparazione di sala al wedding & banqueting.
			Ogni evento &egrave un momento saliente di una storia.</p>
	</div>
	</section>
	<footer> Catering ML S.A.S. | Via Appia Antica 12, Roma (RM) | 0612345678 | Created by: Marialaura Lazzaro </footer>
</body>
</html>