<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../css/my-style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap" rel="stylesheet">
	<title>ingredienti modifica</title>
</head>
<body>
	<section class="header-ingrediente">
		<nav>
			<img src="../../images/logo-catering1.png">
			<div class="nav-links">
				<ul>
					<li><a href="/default">HOME</a></li>
				</ul>
			</div>
		</nav>
		<div class="text-box">
			<h4>Modifica ingrediente:</h4>
			<form th:action="@{'/admin/editIngrediente' + '/' + ${ingrediente.id}}" method="post" th:object="${ingrediente}">
				<div th:if="${#fields.hasGlobalErrors()}">
				  	<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">errore globale</p>
				</div>
				<div>
					<label>Nome: </label><input type="text" th:field="*{nome}" />
					<div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
				</div>
				<div>
					<label>Descrizione: </label><input type="text" th:field="*{descrizione}" />
					<div th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></div>
				</div>
				<div>
					<label>Origine: </label><input type="text" th:field="*{origine}"/>
					<div th:if="${#fields.hasErrors('origine')}" th:errors="*{origine}"></div>
				</div>
				<div><button type="submit" >Conferma</button></div>
			</form>
		</div>
	</section>
	<footer>
		Catering ML S.A.S. | Via Appia Antica 12, Roma (RM) | 0612345678 | Created by: Marialaura Lazzaro
	</footer>
</body>
</html>