<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/my-style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap" rel="stylesheet">
	<title>ingredienti</title>
</head>
<body>
	<section class="header-ingrediente">
		<nav>
			<img src="images/logo-catering1.png">
			<div class="nav-links">
				<ul>
					<li><a href="/">HOME</a></li>
				</ul>
			</div>
		</nav>
		<div class="text-box">
			<h4>Elenco ingredienti:</h4>
			<ul>
				<li th:each="ingrediente : ${ingredienti}">
				<a th:text="${ingrediente.nome} + ' ' + ${ingrediente.descrizione} + ' ' + ${ingrediente.origine}">origano profumato italia</a></li>
			</ul>
		</div>
	</section>
	<footer>
		Catering ML S.A.S. | <a href="https://goo.gl/maps/CwevWFTYqwrajSBf8">Via Appia Antica 12, Roma (RM)</a> | 0612345678 | Created by: Marialaura Lazzaro
	</footer>
</body>
</html>